@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* ------ Add your CSS below this line (or @import your other CSS files). ------- */
@layer base {
    @font-face {
        font-family: 'Puget';
        src: url(./assets/fonts/Puget-Regular.woff2) format('woff2');
        src: url(./assets/fonts/Puget-Regular.woff) format('woff');
    }
}

body {
    background-color: #F7F6F5;
}

a.text-link {
    @apply underline hover:bg-indigo-700 hover:text-white transition-all;
}

.morph-01, .morph-02 {
    position: absolute;
    top: -125px;
    left: 50%;
    /* margin-top: -25vh; */
    margin-left: -300px;
    height: 600px;
    width: 600px;
	overflow: hidden;
    opacity: .5;
    z-index: -1;
}
